footer {
  background-color: #353535;
  color: white;
  font-weight: 500;
  padding: 1em;
  ul {
    margin-bottom: 1em;
  }
  li {
    margin: 0.5em;
  }
  i {
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
  }
  h3 {
    font-family: "Shrikhand", cursive !important;
    font-weight: 300;
    padding-bottom: 0.5em;
  }
}
