// purple heart
label.like,
label[for^="like"] {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 1em;
  font-size: 1.5em;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + i {
    font-weight: 400;
    background: -webkit-linear-gradient(45deg, $secondary-color, $main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::after {
      position: absolute;
      left: 0%;
      content: "\f004";
      font-weight: 900;
      background: -webkit-linear-gradient(45deg, $secondary-color, $main-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: heart-fill 0.3s ease-in-out 0s 1 both;
    }
  }
  @keyframes heart-fill {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

a.gradient-btn {
  cursor: pointer;
  color: white;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
  width: fit-content;
  border-radius: 10em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, $secondary-color, $main-color);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
  }
}
